body {
	cursor: none;
}

#title {
	position: absolute;
	top: 5px;
	width: 100%;
	z-index: 100;
	display:block;
}

#info {
	position: absolute;
	bottom: 5px;
	width: 100%;
	z-index: 100;
	display:block;
}


h3, h4 {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0em;
}

p {
    text-align: left;
    margin-top: 1em;
    margin-bottom: 0em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}